---
dist: xenial

language: python

python:
  - 3.6
  - 3.7
  - 3.8

env:
  global:
    - WTFORMS="<3"
  matrix:
    - SQLALCHEMY="~=1.3.5"
    - SQLALCHEMY="~=1.2.9"
    - SQLALCHEMY=""


# command to install dependencies
install:
  - "pip install WTForms$WTFORMS SQLAlchemy$SQLALCHEMY"
  - "pip install ."
  - "pip install -r tests/requirements.txt"

# command to run tests
script: coverage run setup.py test
after_success:
  - pip install coveralls
  - coveralls
